body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    border: 2px solid black;
    background-color:white;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
}

#card{
    border: 2px blue solid;
    border-radius: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    box-shadow: 0 0 10px blue ;


}



#circle{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-self: center;
    font-size: larger;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: blue;
    color: white;   
    text-align: center;
    border-radius: 50%;

}
