#wrapper{
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
    display:grid;
    grid-template-columns:200px 200px 200px;
    justify-content: center;
    
}


#wrapper>div{
    border: 2px solid #ffa94d;
    border-radius: 5px;
    
}